/**
  * sass sass/triggers/style.scss sass/cache/trigger.css --watch --no-source-map
  * [sass array](https://www.sitepoint.com/sass-maps-vs-nested-lists) */

$breakpoint-map: (
  text:    (bg: #EDEDED,   color: #555555, border: #d7d7d7), // grey
  error:   (bg: mistyrose, color: #cf301e, border: #ffc6c0), // blue
  alert:   (bg: lavender,  color: #442fc5, border: #d3cdf7), // red
  notice:  (bg: #e9f2f8,   color: #3a81b0, border: #cadfed), // purple
  warning: (bg: #FFF3CD,   color: #856404, border: #edddae), // warning
  success: (bg: #E5F6ED,   color: #00a650, border: #c2e5d2)  // green
);

@each $label, $map in $breakpoint-map {
	.tg-#{$label}{
		color: map-get($map, color);
		background-color: map-get($map, bg);
		padding: 10px;
		font-size: 18px;
		border-radius: 5px;
	}
}

// TRIGGER 2
@each $label, $map in $breakpoint-map {
	.tg2-#{$label}{
		color: map-get($map, color);
		background-color: map-get($map, bg);
		border: 1px solid map-get($map, border);
		padding: 10px;
		font-size: 18px;
		border-radius: 5px;
	}
}


















