.tg-info,
.tg-text,
.tg-error,
.tg-alert,
.tg-notice,
.tg-success,
.tg-warning{
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
}

.tg-text{background-color: #EDEDED; color: #555;} 	    /* grey     */
.tg-notice{background-color: #e9f2f8; color: #3a81b0;} 	/* blue     */
.tg-error{background-color: mistyrose; color: #cf301e;} /* red 	    */
.tg-alert{background-color: lavender; color: #442fc5}   /* purple   */
.tg-warning{background-color: #FFF3CD; color: #856404}  /* warning  */
.tg-success{background-color: #E5F6ED; color: #00a650;} /* green    */


/* Personalização (text-align, line-height, padding, font-size) */





















