/*https://1stwebdesigner.com/free-code-snippets-css-buttons/*/
body{
	font-family: roboto;
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
}

.painel{
	width: 1200px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 300px auto 340px;
}

.center{display: flex;}
.center button{margin: auto; width: 200px;}

.title{
	float: left;
	width: 100%;
	margin: 20px 0 10px 0;
}

#button-size{float: left; width: 100%; display: flex; margin-bottom: 20px; border: 1px solid #0581FD; border-radius: 3px;}
#button-size input{float: left; width: 100%; color: #0581FD; text-align: center; padding: 2px 0; font-size: 14px; cursor: pointer; border-right: 1px solid #0581FD;}
#button-size input:last-child{border-right: 0;}
#button-size input::before{content: attr(text);}
#button-size input:checked{background-color: #0581FD; color: white;}

.p3{padding: 3px;} /* mini */
.p5{padding: 5px;} /* small */
.p6{padding: 6px;} /* small */
.p7{padding: 7px;}
.p8{padding: 8px;} /* normal */
.p9{padding: 9px;}
.p10{padding: 10px;} /* large */
.p11{padding: 11px;}
.p12{padding: 12px;}
.p13{padding: 13px;}
.p15{padding: 15px;}

#button-styles{
	float: left;
	width: 100%;
}

#button-styles label{float: left; width: 100%; border-bottom: 1px solid #f1f1f1; padding: 15px 0;}
#button-styles label:last-child{border-bottom: 0;}
#button-styles span{float: left; min-width: 130px; text-align: center;}
#button-styles label:before{
	content: attr(title);
	float: left;
}
#button-styles input{
	float: right;
	width: 18px;
	height: 18px;
	padding: 2px;
	cursor: pointer;
	position: relative;
	border-radius: 100px;
	border: 2px solid #ccc;
}
#button-styles input::after{
	content: '';
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	background-color: white;
}
#button-styles input:checked{border-color: #2196F3;}
#button-styles input:checked::after{background-color: #2196F3;}

/*COLORS*/
#button-colors{
	float: left;
	width: 100%;
	display: flex;
}

#button-colors input{
	float: left;
	width: 100%;
	text-align: center;
	background-color: white;
	border: 1px solid #eee;
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
}

#button-colors input:checked{border-color: #e1e1e1; box-shadow: 0 0 0 2px #f1f1f1;}
#button-colors input:before{
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: red;
}

#button-colors input::after{
	content: attr(value);
	font-size: 14px;
	display: block;
	padding-top: 4px;
}
#button-colors input[value=red]:before{background-color: #fa5a5a;}
#button-colors input[value=yellow]:before{background-color: #f0d264;}
#button-colors input[value=blue]:before{background-color: #6698cb;}
#button-colors input[value=green]:before{background-color: #82c8a0;}
#button-colors input[value=purple]:before{background-color: #cb99c5;}
#button-colors input[value=gray]:before{background-color: #f1f1f1;}
#button-colors input[value=cyan]:before{background-color: #7fccde;}

/*tx-color*/
#tx-color{float: left; width: 100%; background-color: #f9f9f9; padding: 5px; margin-top: 15px; border-radius: 5px;
	display: flex;
	position: relative;
}
#tx-color .left{width: 120px; line-height: 32px; font-size: 15px; font-weight: 500; text-align: center;}
#tx-color .center{}
#tx-color .right{width: 80px; text-align: center;}
#tx-color .right input{background-color: white; margin: 4px 0;}

#tx-color:before{
	content: '';
	right: 20px;
	top: -8px;
	position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid #f9f9f9;
}



.controllers{float: left; width: 100%; display: grid; grid-template-columns: 1fr; grid-gap: 10px 5px;}
.controllers label{display: flex;}
.controllers label .left{width: 100px; line-height: 30px; font-size: 15px; font-weight: 500;}
.controllers label .center{}
.controllers label .right{width: 80px;}
.controllers label .right input{margin-top: 5px; float: right;}
.controllers label div{float: left; width: 100%;}

.input{float: left; width: 100%;}
.input input[type="text"],
.input input[type="number"]{
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px inset rgba(0, 0, 0, .05);
	padding: 6px;
}



.input[title]::before{
	content: attr(title);
	display: block;
	font-size: 14px;
	color: #222;
	font-weight: 500;
	padding-left: 2px;
	padding-bottom: 3px;
} 

.painel > section footer{
	padding: 10px;
	margin-top: 5px;
	float: left;
	width: 100%;
	text-align: center;
}
.painel > section  footer > hr{float: right; width: 50px; border: 0; background-color: #f9f9f9; height: 35px; line-height: 33px; font-size: 18px; cursor: pointer;}
.painel > section  footer > button{float: left; height: 35px; width: calc(100% - 55px);}
.painel > section  footer > pre{float: left; width: 100%; padding: 10px 0;}


pre {
	width: 100%;
	padding: 30px;
	color: #666;
	border-radius: 0 0 4px 4px;
	margin-top: 20px;
	 font-size: 14px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
pre .bt  {color: #f8f8f2;} /* <> */
pre .anc {color: #f92672;} /* anchor tag */
pre .att {color: #1c7f1c;} /* attribute */
pre .val {color: #c95b13;} /* value */

/*CHECKBOX*/
/* HTML : <input type="checkbox" name="" value=""> */

.checkbox.slim{
    position: relative;
    -webkit-appearance: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    outline: none;
    border-radius: 20px;

    transition: .5s;
    width: auto;
    cursor: pointer;
}

.checkbox.slim:checked{background: #03a9f4;}
.checkbox.green:checked{background-color: #4FD768;}

.checkbox.slim::before{
  content: '';
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  transition: .2s;
}
.checkbox.slim:checked:before{box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);}

.checkbox.into{box-shadow: none; background-color: #f2f2f2;}
.checkbox.into:before{transform: scale(.9);}

.checkbox.slim.p15{width: 55px;}
.checkbox.slim.p15:before{width: 30px; height: 30px;}
.checkbox.slim.p15:checked:before{left: 24px;}


.checkbox.slim.p11{width: 36px;}
.checkbox.slim.p11:before{width: 22px; height: 22px;}
.checkbox.slim.p11:checked:before{left: calc(50% - 2px);}

.checkbox.slim.into.p11{width: 34px;}
.checkbox.slim.into.p11:before{width: 22px; height: 22px;}
.checkbox.slim.into.p11:checked:before{left: calc(50% - 5px);}


.checkbox.go{
    position: relative;
    -webkit-appearance: none;
    
    outline: none;
    border-radius: 20px;

   transition: background .5s;
    width: auto;
    cursor: pointer;
    background-color: #f1f1f1;
}
.checkbox.go::before{
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transition: left .2s;
  background: white;
  margin-top: -10px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox.go.p8{width: 34px;}
.checkbox.go.p8:before{width: 20px; height: 20px;}
.checkbox.go.p8:checked:before{left: 14px;}