<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Buttons</title>
	<link rel="stylesheet" href="../reset/style.css">
	<link rel="stylesheet" href="../css/parts/padding.css">
	<link rel="stylesheet" href="../styles/buttons/buttons.css">
	<link rel="stylesheet" href="../styles/form/checkbox/checkbox.css">
</head>
<body>
	<main class="painel">
		<section class="right">
			<article class="block">
				<h1 class="title">Estilo</h1>
				<form id="button-styles">
					<label>
						<span class="btn p6 cool blue">3D</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="3D">
						</div>
					</label>
					<label>
						<span class="btn p6 plastic blue">Platic</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="plastic">
						</div>
					</label>
					<label>
						<span class="btn p6 cool blue">Cool</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="cool">
						</div>
					</label>
					<label>
						<span class="btn p6 normal blue">Normal</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="normal" checked>
						</div>
					</label>
					<label>
						<span class="btn p6 round blue">Round</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="round">
						</div>
					</label>
					<label>
						<span class="btn p6 gradient blue">Gradient</span>
						<div class="checkbox">
							<input type="radio" name="styles" class="no-appearance circle p6 blue" value="gradient">
						</div>
					</label>
				</form>
			</article>
		</section>
		<article class="center">
			<button id="target">Button</button>
		</article>
		<section class="right">
			<article class="block">
				<h1 class="title">Escolha a cor</h1>
				<form name="colors" id="button-colors">
					<input type="radio" name="colors" class="no-appearance" value="red">
					<input type="radio" name="colors" class="no-appearance" value="yellow">
					<input type="radio" name="colors" class="no-appearance" value="blue">
					<input type="radio" name="colors" class="no-appearance" value="green">
					<input type="radio" name="colors" class="no-appearance" value="purple">
					<input type="radio" name="colors" class="no-appearance" value="white">
					<input type="radio" name="colors" class="no-appearance" value="gray" checked>
				</form>
				<div class="input" id="tx-color">
					<div class="left">
						<span>Cor do texto</span>
					</div>
					<div class="center">
						<input type="text" name="text" id="button-text" value="Button">
					</div>
					<div class="checkbox right">
						<input type="checkbox" name="btn-width" value="1" class="round p10 blue" checked>
					</div>
				</div>
			</article>
			<hr class="title-line" style="margin: 15px 0" title="Gerar Código">
			<div class="controllers">
				<label class="input">
					<div class="left">
						<span>Texto</span>
					</div>
					<div class="center">
						<input type="text" name="text" id="button-text" value="Button">
					</div>
					<div class="checkbox right">
						<input type="checkbox" name="btn-width" value="1" class="round p10 blue" checked>
					</div>
				</label>
				<label class="input">
					<span class="left">Largura</span>
					<div class="center">
						<input type="number" name="text" id="button-text" value="43">
					</div>
					<div class="checkbox right">
						<input type="checkbox" name="btn-width" value="1" class="round p10 blue" checked>
					</div>
				</label>
				<label class="input">
					<span class="left">Ícone</span>
					<div class="center">
						<input type="text" name="text" id="button-text" value="home2">
					</div>
					<div class="checkbox right">
						<input type="checkbox" name="btn-width" value="1" class="round p10 blue" checked>
					</div>
				</label>
			</div>

			<h1 class="title">Tamanho</h1>
			<form class="size" id="button-size">
				<input type="radio" name="size" class="no-appearance" value="p10" text="large" checked>
				<input type="radio" name="size" class="no-appearance" value="p8" text="nomal">
				<input type="radio" name="size" class="no-appearance" value="p6" text="small">
				<input type="radio" name="size" class="no-appearance" value="p3" text="mini">
			</form>
			<hr class="title-line" title="Gerar Código">
			<footer>
				<button type="button" class="btn blue plastic">Gerar Código</button>
				<hr class="btn yellow plastic icon-file-text">
				<pre>&lt;<span class="anc">a</span> <span class="att">href</span>=<span class="val">"#"</span> <span class="att">class</span>=<span class="val">"btn-gradient red mini"</span>>Button&lt;/<span class="anc">a</span>></pre>
			</footer>
		</section>
	</main>
	<script src="buttons.app.js"></script>
</body>
</html>