<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Checkbox</title>
	<link rel="stylesheet" href="../reset/style.css">
	<link rel="stylesheet" href="../css/parts/padding.css">
	<link rel="stylesheet" href="../styles/form/checkbox/checkbox.css">
	<link rel="stylesheet" href="../styles/form/checkbox/painel.css">
</head>
<body>
	<nav class="checkbox main-checkbox-menu">
		<form id="main-checkbox-colors">
			<input type="radio" name="color" value="red" title="red" class="red" checked>
			<input type="radio" name="color" value="green" title="green" class="green">
			<input type="radio" name="color" value="yellow" title="yellow" class="yellow">
			<input type="radio" name="color" value="orange" title="orange" class="orange">
			<input type="radio" name="color" value="purple" title="purple" class="purple">
			<input type="radio" name="color" value="blue" title="blue" class="blue">
		</form>
	</nav>
	<form class="form checkbox">
		<div class="block">
			<h2>Switch flat</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="flat p12 red" checked>
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="flat p14 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="flat p14 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="flat p14 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>

		<div class="block">
			<h2>Switch within</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="within p12 red" checked>
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="within p14 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="within p14 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="within p14 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>
		<div class="block">
			<h2>Switch go</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="go p8 red">
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="go p10 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="go p10 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="go p10 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>
		<div class="block">
			<h2>Switch round</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="round p10 red">
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="round p12 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="round p10 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="round p10 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>
		<div class="block">
			<h2>Switch mark</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="mark p9 red" checked>
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="mark p11 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="mark p9 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="mark p9 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>
		<div class="block">
			<h2>radio circle</h2>
			<div class="checkbox list">
				<label>
					<input type="checkbox" class="circle p9 red">
					<span>switch</span>
				</label>
				<label>
					<input type="checkbox" class="circle p9 red" checked>
					<span>switch checked</span>
				</label>
				<label>
					<input type="checkbox" class="circle p9 red" disabled>
					<span>switch disabled</span>
				</label>
				<label>
					<input type="checkbox" class="circle p9 red" checked disabled>
					<span>switch checked disabled</span>
				</label>
			</div>
		</div>
	</form>
	<script src="form-checkbox.app.js"></script>
</body>
</html>