// sass --watch  scss/parts/border-radius.scss css/parts/border-radius.css
@import 'app.scss';

.no-radius{
	-webkit-border-radius: 0px;
	-moz-border-radius:    0px;
	 border-radius:        0px;
}

@each $radius in 1, 2, 3, 4, 5, 10, 15, 20, 30, 50, 100 {
	.r#{$radius}{
		-webkit-border-radius: #{$radius}px;
		-moz-border-radius:    #{$radius}px;
		 border-radius:        #{$radius}px;
	}
}