
/*CIRCLE*/
.checkbox .circle{
    transition: background .3s;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 0 0 1px #ccc;
}
.checkbox .circle:checked{box-shadow: 0 0 0 1px var(--color); background-color: var(--color);}
.checkbox .circle:disabled{box-shadow: 0 0 0 1px #ccc; border-color: #eee; background-color: #eee}
.checkbox .circle:disabled:checked{border-color: white; background-color: #ccc; box-shadow: 0 0 0 1px #ccc;}
