
/*FLAT*/
.checkbox .flat{
    border: 1px solid;
    border-radius: 20px;
    transition: background .5s;
    background-color: white;
    border-color: #eee;
}

.checkbox .flat::before{
    content: '';
    top: 2px;
    left: 2px;
    transition-property: left;
    transition-duration: .2s;
    background: white;
    position: absolute;
    border-radius: 20px;
    background-color: #ddd;
}
.checkbox .flat:checked:before{left: 22px; background-color: var(--color);}
.checkbox .flat:checked{border-color: var(--color);}
.checkbox .flat:disabled{border-color: #eee;}
.checkbox .flat:disabled:before{background-color: #ddd;}

.checkbox .flat.p14{width: 50px;}
.checkbox .flat.p14::before{width: 24px; height: 24px;}
.checkbox .flat.p14:checked:before{left: 22px;}
.checkbox .flat.p14 + span{line-height: 30px;}

.checkbox .flat.p12{width: 44px;}
.checkbox .flat.p12::before{width: 20px; height: 20px;}
.checkbox .flat.p12:checked::before{left: 20px;}
.checkbox .flat.p12 + span{line-height: 26px;}