/*GO*/
.checkbox .go{
    border-radius: 20px;
    transition: background .5s;
    background-color: #f1f1f1;
}
.checkbox .go::before{
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transition: left .2s;
  background: white;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox .go:checked{background-color: var(--color);}

.checkbox .go.p8{width: 34px;}
.checkbox .go.p8:before{width: 20px; height: 20px; margin-top: -10px;}
.checkbox .go.p8:checked:before{left: 14px;}
.checkbox .go.p10 + span{line-height: 20px;}

.checkbox .go.p10{width: 42px;}
.checkbox .go.p10:before{width: 24px; height: 24px; margin-top: -12px;}
.checkbox .go.p10:checked:before{left: 18px;}
.checkbox .go.p10 + span{line-height: 22px;}