
/*MARK*/
.checkbox .mark{
    transition: background .3s;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.checkbox .mark:disabled{background-color: #f3f3f3; border-color: #eee;}
.checkbox .mark:checked{background-color: var(--color); border-color: transparent;}

.checkbox .mark::before{
	position: absolute;
	content: '';
    box-sizing: border-box;
    transform: rotate(45deg);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.checkbox .mark:checked:before{border-color: white;}

.checkbox .mark.p9::before{
    top: 1px;
    left: 7px;
    width: 6px;
    height: 0.85em;
}

.checkbox .mark.p11::before{
    top: 1px;
    left: 8px;
    width: 7px;
    height: 15px;
}