/*ROUND*/
.checkbox .round{
    border: 1px solid #ccc;
    border-radius: 20px;
    transition-property: background;
    transition-duration: .4s;
    background-color: white;
}

.checkbox .round::before{
    content: '';
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: -1px;
    background: white;
    border: 1px solid #ccc;
    transition-property: left;
    transition-duration: .2s;
}

.checkbox .round:disabled{background-color: #eee; box-shadow: none;}
.checkbox .round:disabled:checked{background-color: #eee; border-color: #ccc;}
.checkbox .round:checked{background-color: var(--color); box-shadow: none; border-color: var(--color);}
.checkbox .round:checked:before{border-color: var(--color);}
.checkbox .round:disabled:checked:before{border-color: #ccc;}

.checkbox .round.p12{width: 45px;}
.checkbox .round.p12:before{width: 26px; height: 26px; top: -2px}
.checkbox .round.p12:checked:before{left: 19px;}
.checkbox .round.p12 + span{line-height: 26px;}

.checkbox .round.p10{width: 40px;}
.checkbox .round.p10:before{width: 22px; height: 22px; top: -2px}
.checkbox .round.p10:checked:before{left: 16px;}
.checkbox .round.p10 + span{line-height: 26px;}