@import url('../../css/parts/float.css');
@import url('../../css/parts/padding.css');

body{background-color: #f3f3f3;}

/*https://1stwebdesigner.com/free-code-snippets-css-buttons/*/

.oocss-buttons-painel{
	width: 100%;
	display: grid;
	padding: 20px;
	grid-gap: 20px;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-template-rows: 120px 60px 180px 50px 120px;
}

.oocss-buttons-painel article{
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}
.oocss-buttons-painel article > header{
	padding: 6px 10px;
	/*background-color: #f3f3f3;*/
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom: 1px solid #f3f3f3;
	text-align: center;
}
.oocss-buttons-painel article > header h1{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.oocss-buttons-painel article:nth-of-type(1){
	grid-row: 5 span;
}

.oocss-buttons-painel .box8{
	grid-row: 4 span;
}

/*## STYLES*/
.oocss-buttons-painel-styles .content{
	padding-top: 5px;
	padding-left: 15px;
	height: 100%;
	display: flex;
	overflow: auto;
	flex-direction: column;
	height: calc(100% - 30px);
}

.oocss-buttons-painel-styles .content .item{
	display: grid;
	align-items: center;
	grid-column-gap: 15px;
	grid-template-columns: 15px 120px 1fr;
}


.oocss-buttons-painel-styles .content .item span{
	padding: 7px 0;
}


.oocss-buttons-painel-styles .content .item:first-child aside{border-top: 0;}
.oocss-buttons-painel-styles .content .item aside{
	display: flex;
	padding: 10px 3px;
	flex-direction: column;
	border-top: 1px solid #eee;
}

.oocss-buttons-painel-styles .content .item aside em{
	font-size: 14px;
}

/*## COLORS*/
.oocss-buttons-painel-colors .content{
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.oocss-buttons-painel-colors .content input{
	float: left;
	width: 100%;
	text-align: center;
	background-color: white;
	border: 1px solid #eee;
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
}

.oocss-buttons-painel-colors .content input:checked{border-color: #06c; box-shadow: 0 0 0 2px #f1f1f1;}
.oocss-buttons-painel-colors .content input:before{
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: red;
}

.oocss-buttons-painel-colors .content input::after{
	content: attr(value);
	font-size: 14px;
	display: block;
	padding-top: 4px;
}
.oocss-buttons-painel-colors .content input[value=red]:before{background-color: #fa5a5a;}
.oocss-buttons-painel-colors .content input[value=yellow]:before{background-color: #f0d264;}
.oocss-buttons-painel-colors .content input[value=blue]:before{background-color: #6698cb;}
.oocss-buttons-painel-colors .content input[value=green]:before{background-color: #82c8a0;}
.oocss-buttons-painel-colors .content input[value=purple]:before{background-color: #cb99c5;}
.oocss-buttons-painel-colors .content input[value=gray]:before{background-color: #f1f1f1;}
.oocss-buttons-painel-colors .content input[value=cyan]:before{background-color: #7fccde;}


/*## CODE*/
.oocss-buttons-painel-code .content{
	padding: 5px 10px 5px 5px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 60px;
	grid-column-gap: 10px;
}

.oocss-buttons-painel-code .content input {
	padding: 10px 5px;
	background-color: #eee;
	color: #666;
	border-radius: 4px;
	font-size: 14px;
	border: 0;
	width: 100%;
	background-color: white;
	border: 1px solid #eee;
	text-align: center;
}

.oocss-buttons-painel-code .content button{
	border: 0;
	color: white;
	height: 30px;
	font-size: 14px;
	border-radius: 5px;
	background-color: #06C;
}

/*## LIST*/
.oocss-buttons-painel-list .content{
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 1fr;
	padding-top: 15px;
	padding-left: 15px;
}

.oocss-buttons-painel-list .content li{}

/*## OVERVIEW*/
.oocss-buttons-painel-overview{
	
}

/*## SIZE*/
.oocss-buttons-painel-size{
	grid-row: 2 span;
}

.oocss-buttons-painel-size label{
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 60px 1fr 30px;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.oocss-buttons-painel-size label:last-child{border-bottom: 0;}
.oocss-buttons-painel-size span{font-size: 14px; color: #999; font-weight: 500;}
.oocss-buttons-painel-size small{color: #999; font-weight: 500;}







































































































































































































