
/*BTN PLASTIC*/
.btn.plastic::-moz-focus-inner{border: 0; padding: 0;}
.btn.plastic{
  border: 1px solid #bbb;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
}

.btn.plastic:hover{background-color: #eee; color: #555;}
.btn.plastic:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.btn.plastic[disabled], .btn.plastic[disabled]:hover, .btn.plastic[disabled]:active{
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  box-shadow: none;
  text-shadow: none;
}

/* Colored buttons styles */

.btn.plastic.green, .btn.plastic.red, .btn.plastic.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */
.btn.plastic.green{background-color: #57a957; border-color: #57a957;}
.btn.plastic.green:hover{background-color: #62c462;}
.btn.plastic.green:active{background: #57a957;}

/* */
.btn.plastic.red{background-color: #ca3535; border-color: #c43c35;}
.btn.plastic.red:hover{background-color: #ee5f5b;}
.btn.plastic.red:active{background: #c43c35;}

/* */
.btn.plastic.blue{background-color: #269CE9; border-color: #269CE9;}
.btn.plastic.blue:hover{background-color: #70B9E8;}
.btn.plastic.blue:active{background: #269CE9;}

/* */

.btn.plastic.green[disabled], .btn.plastic.green[disabled]:hover, .btn.plastic.green[disabled]:active{
  border-color: #57A957;
  background: #57A957;
  color: #D2FFD2;
}

.btn.plastic.red[disabled], .btn.plastic.red[disabled]:hover, .btn.plastic.red[disabled]:active{
  border-color: #C43C35;
  background: #C43C35;
  color: #FFD3D3;
}

.btn.plastic.blue[disabled], .btn.plastic.blue[disabled]:hover, .btn.plastic.blue[disabled]:active{
  border-color: #269CE9;
  background: #269CE9;
  color: #93D5FF;
}