.btn.round{
	border: 0;
	color: white;
	border-radius: 50px;
}

.btn.round.red 	  {background: #E35252;}
.btn.round.orange {background: #E8601B;}
.btn.round.cyan   {background: #169499;}
.btn.round.blue   {background: #007AFF;}
.btn.round.purple {background: #BD8EB7;}
.btn.round.yellow {background: #DBC05B;}
.btn.round.green  {background: #72B08E;}