@import '../icomoon/style.css';

body{
	font-family: roboto;
}

.oocss-main-header{
	display: flex;
	flex-direction: column;
}

/*## NAV*/
.oocss-main-header .top{

}

.oocss-main-header nav {text-align: center; border-bottom: 2px solid #eee;}
.oocss-main-header nav a{height: 38px; line-height: 38px; font-size: 16px;}
.oocss-main-header nav a{
	min-width: 140px;
	font-weight: 700;
	display: inline-block;
	text-transform: capitalize;
	text-align: center;
	position: relative;
	top: 2px;
	vertical-align: bottom;
}
.oocss-main-header nav a.active{border-bottom: 2px solid #06C;}


.oocss-main-header .top{
	background-color: #F4F4F4;
	padding: 10px 10px 9px 10px;
}

.oocss-main-header .breadcrumbs{
	display: flex;
	align-items: center;
	font-size: 14px;
}
.oocss-main-header .breadcrumbs hr{
	border: 0;
}

.oocss-main-header .breadcrumbs hr.home{
	font-size: 14px;
	position: relative;
	top: -2px;
}

.oocss-main-header .breadcrumbs hr.arrow{
	font-size: 10px;
	position: relative;
	top: -1px;
	margin: 0 7px;
}

.oocss-main-header .breadcrumbs a{color: #06c; font-weight: 500;}
.oocss-main-header .breadcrumbs span{color: black; font-weight: 500;}
.oocss-main-header .breadcrumbs strong{color: #999; font-weight: 500;}
.oocss-main-header .breadcrumbs a:hover{text-decoration: underline;}


.oocss-main-header > section{
	background-color: #162A5C;

	display: grid;
	grid-template-columns: 1fr 360px 1fr;
	align-items: center;
	color: white;
	padding: 0 20px;
}
.oocss-main-header > section .title{text-align: center;}
.oocss-main-header > section .title h1{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 0;
}

.oocss-main-header > section .back::before
{
	content: "\e9ee";
	position: relative;
	margin-right: 5px;
	top: 1px;

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.oocss-main-header > section ul{
	text-align: right;
}
.oocss-main-header > section ul li a{
	color: black;
	font-size: 13px;
	font-weight: 700;
	border-radius: 3px;
	background-image: linear-gradient(white, #f1f1f1);
	padding: 4px 8px 3px 8px;
	text-transform: uppercase;
}

.oocss-main-header > section ul li a:active{background-image: linear-gradient(white, #f6f6f6);}
































































































































































