/*MARK*/
.checkmark{
    border-radius: 5px; 
    border: 1px solid #ccc;
    background-color: transparent;
    box-shadow: 0 0 0 1px #f0f0f0 inset;
    @include reset-list;
}

.checkmark:disabled::before, 
.checkmark:disabled::after{background-color: #999;}

// COLOR
@each $name, $value in $colors{
    .checkmark.#{$name}:checked{background-color: $value;}
    
    @if $name == blue {
        .checkmark:checked{background-color: $value;}
    }
}

.checkmark:checked{border-color: transparent; box-shadow: none;}

.checkmark:disabled{background-color: #fafafa; border-color: #eee; box-shadow: none;}
.checkmark:disabled:checked{background-color: white;}

.checkmark::before{
	content: '';
    position: absolute;
    border-radius: 50px;
    background-color: white;
    transform: rotate(35deg);
}

.checkmark::after{
    content: '';
    position: absolute;
    border-radius: 50px;
    background-color: white;
    transform: rotate(45deg);
    background-color: white;
}

/*## P8*/
.checkmark.p8::before{width: 2px; height: 13px; left: 9px; bottom: 2px;}
.checkmark.p8::after{height: 2px; width: 6px; left: 2px; bottom: 4.5px;}

/*## P9*/
.checkmark.p9::before{width: 2px; height: 13px; left: 10px; bottom: 3px;}
.checkmark.p9::after{height: 2px; width: 6px; left: 3px; bottom: 5px;}

/*## P10*/
.checkmark.p10::before{width: 2px; height: 14px; left: 11px; bottom: 3px;}
.checkmark.p10::after{height: 2px; width: 7px; left: 3px; bottom: 6px;}



