// [abpetkov](http://abpetkov.github.io/switchery/)
// [willianjusten](https://willianjusten.com.br/criando-um-switch-button-com-css)
// [sass - tips](https://desenvolvimentoparaweb.com/css/sass-dicas-parte-1/)

/*WITHIN*/
.switch3{
    border-radius: 20px;
    transition: background .5s;
    background-color: #fff;
    border: 1px solid #eee;
    @include reset-list;

    &::before{
        content: '';
        top: 0;
        left: 0;
        transition-property: left;
        transition-duration: .2s;
        background: white;
        position: absolute;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 0 2px rgba(0,0,0, .2), 0 1px 4px rgba(0,0,0,0.1);
    }



    @each $name, $value in $colors{

        @if $name == green {
            &:checked{
                border-color: $value;
                background-color: $value;
            }
        }

        &.#{$name}:checked{
            border-color: $value;
            background-color: $value;
        }
    }

    &:disabled{background-color: #eee;}
    &:checked:disabled{background-color: #ccc;}

    @for $i from 8 through 30 {
        $left:   $i;
        $width:  $i * 3 + $i;
        $circle: $i * 2; // Constant
        $legend: $i * 2 + 2; // Constant

        
        &.p#{$i}{width: #{$width}px;}
        &.p#{$i}::before{height: #{$circle}px; width: #{$circle}px;}
        &.p#{$i}:checked:before{left: #{$left}px;}
        &.p#{$i} + .legend{height: #{$legend}px; line-height: #{$legend}px;}

        // DEFAULT
        @if $i == 12 {
            &{width: #{$width}px; padding: #{$i}px;}
            &::before{height: #{$circle}px; width: #{$circle}px;}
            &:checked:before{left: #{$left}px;}
            & + .legend{height: #{$legend}px; line-height: #{$legend}px;}
        }

        @each $name, $value in ("small":  10, "normal":  15, "large":  20, "big":  25) {
            @if $i == $value {
                &.#{$name}{width: #{$width}px; padding: #{$value}px;}
                &.#{$name}::before{height: #{$circle}px; width: #{$circle}px;}
                &.#{$name}:checked:before{left: #{$left}px;}
                &.#{$name} + .legend{height: #{$legend}px; line-height: #{$legend}px;}            
            }
        }
    }
}





