
/*FLAT*/
.switch{
    border: 1px solid;
    border-radius: 20px;
    transition: background .5s;
    background-color: white;
    border-color: #eee;
    @include reset-list;
}

.switch::before{
    content: '';
    top: 2px;
    left: 2px;
    transition-property: left;
    transition-duration: .2s;
    background: white;
    position: absolute;
    border-radius: 20px;
    background-color: #ddd;
}

@each $name, $value in $colors{
    .switch.#{$name}:checked{border-color: $value;}
    .switch.#{$name}:checked:before{background-color: $value;}
}

@for $i from 8 through 30 {
    $left:   ($i + 3) + 2;
    $width:  $i * 3 + 5;
    $circle: ($i * 2) - 4;
    $legend: $i * 2 + 2;
    $padding: '.p#{$i}';

    .switch#{$padding}{width: #{$width}px;}
    .switch#{$padding}::before{height: #{$circle}px; width: #{$circle}px;}
    .switch#{$padding}:checked:before{left: #{$left}px;}
    .switch#{$padding} + .legend{height: #{$legend}px; line-height: #{$legend}px;}
}